.btn-link {
    font-weight: 500;
    color: #333;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: .875rem;
    padding-left: 5px;
}

.feather {
    vertical-align: text-bottom;
    height: 13px;
    margin-left: 26px;
    color: #999;
}

.nav {
  margin-top: 10px;
}
