.delete-action {
  margin-top: 2px;
  display: inline-block;
}

.delete-action:hover {
  margin-top: 2px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  display: inline-block;
}

.edit-action {
  margin-top: 2px;
  display: inline-block;
  margin-left: 6px;
}

.swal2-content {
  white-space: pre-line;
  font-size: 15px;
}
