.check-action {
  margin-top: 2px;
  display: inline-block;
}

.check-action:hover {
  margin-top: 2px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  display: inline-block;
}

.create-action {
  margin-top: 2px;
  display: inline-block;
  margin-left: 6px;
}
