.registration-form {
  width: 50%;
  padding: 10px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-40%, 0%);
  margin-bottom: 40px;
  margin-top: 70px;
}

.swal2-content {
  white-space: pre-line;
  font-size: 15px;
}
